body {
  margin: 0;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

/* #region header */
.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
}

.header-logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  display: flex;
  margin-right: 237px;
  gap: 16px;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
  display: block;
}

.current {
  font-weight: 600;
}

.header-button-list {
  display: flex;
  margin-left: auto;
  gap: 21px;
}

.header-button-item {
}

.header-item-btn {
  font-weight: 600;
  width: 105px;
  height: 42px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #fff;
}

.sign-up {
  width: 113px;
  background: #02897a;
  color: #fff;
}

/* #endregion header */

/* #region section work */
.work {
}

.first-container {
  display: flex;
}

.left-side {
  width: 465px;
  height: 331px;
}
.work-subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
  margin-top: 112px;
  margin-right: 48px;
  width: 452px;
}
.work-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  width: 465px;
  margin-bottom: 45px;
  margin-right: 35px;
}

.work-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.work-button-item {
}
.work-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  background-color: #02897a;
}
.watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  min-width: 137px;
  height: 24px;
  color: #02897a;
  background-color: #fff;
}
.right {
  display: flex;
  margin-bottom: 50px;
  margin-left: auto;
}
.work-img {
}
/* #endregion section work */

/* #region section product */
.product {
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
}
.product-subtitle {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 539px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.product-container {
  display: flex;
  max-width: 1110px;
  margin-bottom: 50px;
}
.product-list {
  display: flex;
  gap: 30px;
}
.product-item {
  width: calc((100% - 30px * 3) / 4);
}
.product-section-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.product-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.product-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  min-width: 175px;
  height: 53px;
  background-color: #02897a;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* #endregion section product */

/* #region management section */
.management {
  padding-top: 50px;
  padding-bottom: 50px;
}
.left-side-management {
  width: 486px;
  height: 418px;
  margin: 41px 84px 41px 0;
}
.management-subtitle {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.management-list {
}
.management-item {
}
.management-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}
.management-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.first {
  margin-bottom: 8px;
}
.second {
  margin-bottom: 30px;
}
.management-images {
}

.right-side {
  display: flex;
  margin-left: auto;
}

/* #endregion management section  */

/* #region customer section */
.customer {
  padding-bottom: 50px;
  padding-top: 50px;
}
.left-images {
  display: flex;
  margin-left: auto;
  margin-right: 84px;
  padding: 0 41px;
}
.customer-images {
  display: block;
}
.customer-rigt {
  width: 451px;
  padding: 41px 35px 41px 0;
}
.customer-list {
}
.customer-item {
}
.customer-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 8px;
}
.customer-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.customer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}

/* #endregion customer section */

/* #region collaborative section */
.collaborative {
  padding-bottom: 75px;
  padding-top: 50px;
}
.collaborative-left {
  width: 486px;
  margin: 41px 84px 41px 0;
}
.collaborative-list {
}
.collaborative-item {
}
.collaborative-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 12px;
}
.collaborative-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.collaborative-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 25px;
}
.collaborative-images {
}

/* #endregion collaborative section */
/* #region process section */
.process {
  margin: 75px 97px 50px 97px;
}

.proces-container {
  width: 916px;
}

.process-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 25px;
}
.process-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
  max-width: 542px;
  margin: 0 auto;
}

.proces-row {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proces-expert {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.process-item {
  display: flex;
  width: 408px;
  gap: 24px;
  align-items: center;
  margin-bottom: 25px;
}
.process-images {
}
.process-subtitle {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  width: 281px;
  height: 50px;
  background: #fff;
  border-radius: 20px;
  padding: 13px 19px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.process-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  min-width: 216px;
  height: 53px;
  background-color: #02897a;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* #endregion process section */

/* #region strategies section */
.strategies {
  padding-top: 50px;
  padding-bottom: 80px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  max-width: 465px;
  margin-bottom: 12px;
}

.third {
  margin-bottom: 40px;
}

.strategies-box-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin: 0 auto;
}

.strategies-item {
  max-width: 350px;
  width: calc(100% (2 * 30px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}
.strategies-images {
  border-radius: 8px 8px 0 0;
}

.container-box {
  text-align: start;
  padding: 24px 27px 40px 27px;
}
.strategies-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
}
.current {
  color: #02897a;
}
/* #endregion strategies section */
/* #region price-table section */

.price-table {
  padding-top: 85px;
  padding-bottom: 50px;
}

.price-tible-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}

.price-table-subtitle-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
  margin-bottom: 40px;
}
.price-table-subtitle-text {
  position: relative;
}
.price-tible-item.current {
  background-color: #02897a;
}

.price-table-subtitle-text::after {
  content: "$";
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.price-table-span {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}

.price-table-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: #22343d;
  text-align: center;
  margin-bottom: 40px;
}

.price-tible-second-list {
  margin-bottom: 30px;
}

.price-tible-list {
  display: flex;
  gap: 72px;
  margin: 0 auto;
  text-align: center;
}

.price-tible-item {
  width: 322px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  /* width: calc(100% (2 * 72px) / 3); */
}
.price-table-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: #22343d;
}

.fifth {
  border: none;
  box-shadow: none;
  padding: unset;
}
.price-tible-subtitle.six,
.price-table-text.six,
.price-table-span.six,
.price-table-link.six {
  color: #fff;
}

.fifth:not(:last-child) {
  margin-bottom: 16px;
}

.price-tible-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}
.fourth {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
}
.price-title-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  min-width: 139px;
  height: 44px;
  background-color: #02897a;
  border: none;
}

.seven {
  background-color: #fff;
  color: #02897a;
}

/* #endregion price-table section*/

/* #region client-say section */
.client-say {
  padding-top: 50px;
  padding-bottom: 100px;
}

.client-say-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.8;
  letter-spacing: 0.01em;
  color: #22343d;
  text-align: center;
  margin-bottom: 10px;
}
.client-say-subtitle-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}

.client-say-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  margin-bottom: 16px;
}
.client-say-text-end {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

.wraper {
  width: 145px;
  display: flex;
  flex-wrap: wrap;
}

.box-wrapper {
  margin-left: 14px;
}

.client-say-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  width: calc(100% (2 * 64px) / 3);
}
.client-say-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: 327px;
  height: 240px;
}
.client-say-svg {
  fill: #f3cd03;
  margin-bottom: 16px;
}
.client-say-images {
}
.client-say-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

/* #endregion client-say section */

/* #region promo section */

.promo {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  background-color: #02897a;
  border-radius: 32px;
  width: 968px;
  height: 345px;
  padding: 50px 71px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.left-promo {
  /* margin: 0 auto; */
  display: flex;
  /* justify-content: center;
  flex-shrink: 0; */
}

.promo-left {
  width: 540px;
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #fff;
  width: 510px;
  margin-bottom: 46px;
}
.promo-button {
  border-radius: 8px;
  min-width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border: none;
}

.promo-images {
  border-radius: 5px;
  margin-left: 10px;
}

/* #endregion promo section */

/* #region footer */

.footer {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer-navigation {
}
.footer-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}
.footer-images {
}
.footer-list {
}
.footer-item {
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #22343d;
}
.eight {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}
.ten {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.footer-button {
  min-width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border: none;
}

/* #endregion footer */
